@import "fonts";


$main-font: 'Noto Sans Hebrew', sans-serif;
$second-font: 'Rubik', sans-serif;
$direction: rtl;
$size: 14px;
$dark: #C4C4C4;
$black: #000000;
$green: #00ffcc;
$light-green: #65D521;
$light-gray: #F1F6FB;
$gray: #7B7B7B;
$purple: #5125FF;
$gradient-green: linear-gradient(56.01deg, #298860 0%, #65D521 101.79%);
$white-gradient: linear-gradient(270deg, #FFFFFF 0%, #E4EAF0 100%);


$light-c7: #c7c7c7;
body, html {
  margin: 0;
  font-family: $main-font;
  min-width: 320px;
  direction: rtl;
  //overflow-x: hidden;
  //background: $black;
  //scroll-behavior: smooth;
  //&.no-scroll {
  //  overflow: hidden;
  //}

}

body {
  //overflow-x: hidden;
  max-width: 100%;

  &.fixed {
    position: fixed;
  }
}

* {
  letter-spacing: 0;
  //font-family: $main-font;
}


input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}


img.lazyload, video.lazyload {
  opacity: 0;
  visibility: hidden;
  animation-fill-mode: forwards;
}

.desk-only {
  display: flex;
}


.mob-only {
  display: none;
}

@import "animations";
.is-loaded {
  opacity: 0;
  visibility: visible;
  //transition: opacity 0.3s ease, visibility 0.3s ease;
  animation: faddingImgAnim 0.5s ease;
}


@keyframes faddingImgAnim {
  0% {
    visibility: hidden;
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    filter: blur(0px);
  }
}


.container {
  width: 100%;
  max-width: 89.8958vw;
  padding: 0 26px;
  margin: 0 auto;
  box-sizing: border-box;
}

.container-m {
  width: 100%;
  max-width: 1485px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

* {
  letter-spacing: 0;
  //font-family: $main-font;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

a, button {
  cursor: pointer;
}


input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

p, h1, ul, ol, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  outline: none;
  box-sizing: border-box;
  font-family: $main-font;
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex-grow: 1;
  font-family: $main-font;

  &.no-scroll {
    overflow: hidden;
  }
}


.wrapper {
  width: 100%;
}

html {
  height: auto;
  min-height: 100%;
  font-size: 16px;
  display: flex;
}

.wrapper,
body {
  height: auto;
}

main {
  flex-grow: 1;
  //overflow: hidden;

  display: flex;
  flex-direction: column;
  //transition: padding-top 0.4s ease;


}


p, h1, ul, ol, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer {
  flex-shrink: 0;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background: #FAFAFA;

}

::-webkit-scrollbar-thumb {
  background: #4F4F4F;
  border: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 4px;
}


@import "home";
@import "media";